/* Write your CSS here */
* {
  margin: 0px;
}

.bg-container {
  background-color: #ffffff;
  background-size: cover;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.card-1-container {
  background-image: url('https://assets.ccbp.in/frontend/react-js/money-manager/money-manager-bg.png');
  background-size: cover;
  height: 150px;
  max-height: 200px;
  border-radius: 15px;
  padding: 20px;
  padding-bottom: 30px;
}

.heading {
  font-size: 27px;
  font-weight: 500;
  color: #475569;
}

.description {
  color: #7e858e;
  font-size: 18px;
  font-weight: 500;
}

.des-color {
  color: #0b69ff;
  font-weight: 500;
}

.money-details-container {
  margin-top: 10px;
  margin-bottom: 20px;
}

.transaction-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin-left: 0px;
}

.form-container {
  padding: 25px;
  border: 1px solid #d7dfe9;
  border-radius: 15px;
  margin-right: 10px;
}

.form {
  display: flex;
  flex-direction: column;
}

.transaction-heading {
  font-size: 20px;
  font-weight: 500;
}

.label {
  color: #7e858e;
  font-size: 13px;
  font-weight: 500;
  padding: 5px;
}

.input {
  color: #334155;
  border-radius: 5px;
  border: 1px solid #7e858e;
  font-size: 10px;
  padding: 5px;
}

.select {
  color: #334155;
  border-radius: 5px;
  border: 1px solid #7e858e;
  font-size: 12px;
  padding: 5px;
}

.option {
  color: #1e293b;
}

.button {
  background-color: #0b69ff;
  color: #ffffff;
  border: none;
  border-radius: 5px;
  padding: 5px;
  font-size: 10px;
  height: 25px;
  width: 50px;
  margin-top: 10px;
}

.history-container {
  padding: 25px;
  border: 1px solid #d7dfe9;
  border-radius: 15px;
  margin-left: 10px;
}

.history-heading {
  font-size: 20px;
  font-weight: 500;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}

.list-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-start;
  border: 1px solid #d7dfe9;
  height: 34px;
  border-radius: 5px;
  padding: 5px;
}

.title {
  color: #1e293b;
  font-size: 13px;
  font-weight: 500;
}

.amount-size {
  color: #1e293b;
  font-size: 13px;
  font-weight: 500;
}

.type {
  color: #1e293b;
  font-size: 13px;
  font-weight: 500;
}
